.basket {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.basket_table-control-column {
    width: 0;
}

.basket_totalSum {
    text-align: right;
    padding-right: 50px;
}

.basket_button-pay {
    align-self: center;
    border: 1px solid chartreuse;
}

.basket_button-pay:hover {
    background-color: chartreuse;
}
